### Importar pacotes

In [60]:
import pandas as pd
import numpy as np
import math

### Base de dados Centro-Oeste bruta

In [61]:
bBruta = pd.read_csv('pnad_centro_oeste_bruto.csv')
bBruta.head()

,Unnamed: 0,Ano,Trimestre,UF,Capital,RM_RIDE,UPA,Estrato,V1008,V1014,...,VD4030,VD4031,VD4032,VD4033,VD4034,VD4035,VD4036,VD4037,painel,idind
0,0,2013,4,50,NaN,NaN,500000045,5052012,1,2,...,NaN,48.0,48.0,0.0,0.0,48.0,4.0,4.0,2.0,250500000045001001
1,1,2013,1,50,NaN,NaN,500000045,5052012,1,2,...,NaN,32.0,32.0,0.0,0.0,32.0,2.0,2.0,2.0,250500000045001001
2,2,2013,2,50,NaN,NaN,500000045,5052012,1,2,...,NaN,48.0,48.0,0.0,0.0,48.0,4.0,4.0,2.0,250500000045001001
3,3,2013,3,50,NaN,NaN,500000045,5052012,1,2,...,NaN,48.0,48.0,0.0,0.0,48.0,4.0,4.0,2.0,250500000045001001
4,4,2014,1,50,NaN,NaN,500000045,5052012,1,2,...,NaN,44.0,24.0,0.0,0.0,24.0,3.0,2.0,2.0,250500000045001001

##### Número da amostra

In [62]:
bBruta.shape

(271541, 220)

### Base de dados Indivíduos com Rendimento Maior Que Zero

In [63]:
bRendimento = bBruta[bBruta['VD4019'] > 0]
bRendimento.shape

(126930, 220)

### Base de dados Idade entre 14 e 65

In [64]:
bpnad = bRendimento[(bRendimento['V2009'] >= 14) & (bRendimento['V2009'] <= 65)]
bpnad.shape

(123939, 220)

### Criando variáveis para os exercícios da questão 2

#### Salário / hora

In [67]:
bpnad.loc[:,'Salario/hora'] = (bpnad.VD4019 / (bpnad.VD4031 * 5))

#### Log (salario / hora)

In [66]:
bpnad.loc[:,'log(Salario/hora)'] = (bpnad['Salario/hora'].apply(lambda x: math.log10(x)))

#### Idade²

In [68]:
bpnad.loc[:,'Idade_2'] = (bpnad['V2009'] ** 2)

In [14]:
bpnad.shape

(123939, 17)

#### Normalizando a coluna V1023 para Capital e a coluna V2007 para Sexo

In [69]:
bpnad.loc[:,'V1023'] = bpnad['V1023'].replace([4,3,2], 0)
bpnad.loc[:,'V2007'] = bpnad['V2007'].replace(1, 0)
bpnad.loc[:,'V2007'] = bpnad['V2007'].replace(2, 1)

#### Criando as colunas Preta e Parda como cópia da coluna V2010 (Cor)

In [70]:
bpnad.loc[:,'preta'] = (bpnad['V2010']).copy()
bpnad.loc[:,'parda'] = (bpnad['V2010']).copy()

#### Normalizando as colunas Preta e Parda

In [71]:
bpnad.loc[:,'preta'] = bpnad['preta'].replace([1,3,4], 0)
bpnad.loc[:,'preta'] = bpnad['preta'].replace([2,5], 1)

In [72]:
bpnad.loc[:,'parda'] = bpnad['parda'].replace([1,2,3,5], 0)
bpnad.loc[:,'parda'] = bpnad['parda'].replace(4, 1)

#### Normalizando a coluna V3002 para Frequenta Escola e a coluna V4009 para Mais de Um Trabalho

In [73]:
bpnad.loc[:,'V3002'] = bpnad['V3002'].replace(2, 0)

In [74]:
bpnad.loc[:,'V4009'] = bpnad['V4009'].replace(1, 0)
bpnad.loc[:,'V4009'] = bpnad['V4009'].replace([2,3], 1)

#### Normalizando a coluna VD4008 para Servidor Público

In [75]:
bpnad.loc[:,'VD4008'] = bpnad['VD4008'].replace([1,2,4,5,6], 0)
bpnad.loc[:,'VD4008'] = bpnad['VD4008'].replace(3, 1)

#### Criando as colunas de Nível de Instrução Mais Elevado

In [76]:
bpnad.loc[:,'Superior_incompleto'] = (bpnad['VD3004']).copy()
bpnad.loc[:,'Medio_completo'] = (bpnad['VD3004']).copy()
bpnad.loc[:,'Medio_incompleto'] = (bpnad['VD3004']).copy()
bpnad.loc[:,'Fund_completo'] = (bpnad['VD3004']).copy()
bpnad.loc[:,'Fund_incompleto'] = (bpnad['VD3004']).copy()
bpnad.loc[:,'Sem instrução'] = (bpnad['VD3004']).copy()

#### Normalizando os valores das colunas de Nível de Instrução Mais Elevado

In [77]:
bpnad.loc[:,'Superior_incompleto'] = bpnad['Superior_incompleto'].replace([1,2,3,4,5,7],0)
bpnad.loc[:,'Superior_incompleto'] = bpnad['Superior_incompleto'].replace(6,1)

In [78]:
bpnad.loc[:,'Medio_completo'] = bpnad['Medio_completo'].replace([1,2,3,4,6,7],0)
bpnad.loc[:,'Medio_completo'] = bpnad['Medio_completo'].replace(5,1)

In [79]:
bpnad.loc[:,'Medio_incompleto'] = bpnad['Medio_incompleto'].replace([1,2,3,5,6,7],0)
bpnad.loc[:,'Medio_incompleto'] = bpnad['Medio_incompleto'].replace(4,1)

In [80]:
bpnad.loc[:,'Fund_completo'] = bpnad['Fund_completo'].replace([1,2,4,5,6,7],0)
bpnad.loc[:,'Fund_completo'] = bpnad['Fund_completo'].replace(3,1)

In [81]:
bpnad.loc[:,'Fund_incompleto'] = bpnad['Fund_incompleto'].replace([1,3,4,5,6,7],0)
bpnad.loc[:,'Fund_incompleto'] = bpnad['Fund_incompleto'].replace(2,1)

In [82]:
bpnad.loc[:,'Sem instrução'] = bpnad['Sem instrução'].replace([2,3,4,5,6,7],0)

#### Criando as variáveis iddom e data

In [83]:
bpnad.loc[bpnad['V1008'] < 10,'iddom'] = (bpnad['painel'].astype(str)) + (bpnad['UF'].astype(str)) + (bpnad['UPA'].astype(str)) + '0' + (bpnad['V1008'].astype(str))
bpnad.loc[bpnad['V1008'] >= 10,'iddom'] = (bpnad['painel'].astype(str)) + (bpnad['UF'].astype(str)) + (bpnad['UPA'].astype(str)) + (bpnad['V1008'].astype(str))

bpnad['data'] = (bpnad['Ano'].astype(str)) + '-' + (bpnad['Trimestre'].astype(str)) + '-' + '1'
bpnad['data'] = pd.to_datetime(bpnad['data'])

C:\Users\higor\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\higor\anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
C:\Users\higor\anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
<ipython-input-83-906833c29dd0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bpnad['data'] = (bpnad['Ano'].astype(str)) + '-' + (bpnad['Trimestre'].astype(str)) + '-' + '1'
<ipython-input-83-906833c29dd0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bpnad['data'] = pd.to_datetime(bpnad['data'])

#### Criando a variável filhos

In [84]:
bpnad['filho'] = 0

bpnad.loc[bpnad['VD2002'] == 3, 'filho'] = 1
bpnad.loc[bpnad['VD2002'] == 4, 'filho'] = 1

bpnad['num_filhos'] = bpnad.groupby(['iddom', 'data'])['filho'].transform('sum')

bpnad.loc[bq4['VD2002'] > 2, 'num_filhos'] = 0

<ipython-input-84-43435c5c18fb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bpnad['filho'] = 0
C:\Users\higor\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\higor\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
<ipython-input-84-43435c5c18fb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bpnad['num_filhos'] = bpnad.groupby(['iddom', 'data'])['filho'].transform('sum')
C:\Users\higor\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [85]:
bpnad.head()

,Unnamed: 0,Ano,Trimestre,UF,Capital,RM_RIDE,UPA,Estrato,V1008,V1014,...,Superior_incompleto,Medio_completo,Medio_incompleto,Fund_completo,Fund_incompleto,Sem instrução,iddom,data,filho,num_filhos
0,0,2013,4,50,NaN,NaN,500000045,5052012,1,2,...,0.0,0.0,0.0,0.0,1.0,0.0,2.05050000004501,2013-04-01,0,0
1,1,2013,1,50,NaN,NaN,500000045,5052012,1,2,...,0.0,0.0,0.0,0.0,1.0,0.0,2.05050000004501,2013-01-01,0,0
2,2,2013,2,50,NaN,NaN,500000045,5052012,1,2,...,0.0,0.0,0.0,0.0,1.0,0.0,2.05050000004501,2013-02-01,0,0
3,3,2013,3,50,NaN,NaN,500000045,5052012,1,2,...,0.0,0.0,0.0,0.0,1.0,0.0,2.05050000004501,2013-03-01,0,0
4,4,2014,1,50,NaN,NaN,500000045,5052012,1,2,...,0.0,0.0,0.0,0.0,1.0,0.0,2.05050000004501,2014-01-01,0,0

### Limpando a base de dados

In [86]:
bpnad.columns.values

array(['Unnamed: 0', 'Ano', 'Trimestre', 'UF', 'Capital', 'RM_RIDE',
       'UPA', 'Estrato', 'V1008', 'V1014', 'V1016', 'V1022', 'V1023',
       'V1027', 'V1028', 'V1029', 'posest', 'V2001', 'V2003', 'V2005',
       'V2007', 'V2008', 'V20081', 'V20082', 'V2009', 'V2010', 'V3001',
       'V3002', 'V3002A', 'V3003', 'V3003A', 'V3004', 'V3005', 'V3005A',
       'V3006', 'V3006A', 'V3007', 'V3008', 'V3009', 'V3009A', 'V3010',
       'V3011', 'V3011A', 'V3012', 'V3013', 'V3013A', 'V3013B', 'V3014',
       'V4001', 'V4002', 'V4003', 'V4004', 'V4005', 'V4006', 'V4006A',
       'V4007', 'V4008', 'V40081', 'V40082', 'V40083', 'V4009', 'V4010',
       'V4012', 'V40121', 'V4013', 'V40132', 'V40132A', 'V4014', 'V4015',
       'V40151', 'V401511', 'V401512', 'V4016', 'V40161', 'V40162',
       'V40163', 'V4017', 'V40171', 'V401711', 'V4018', 'V40181',
       'V40182', 'V40183', 'V4019', 'V4020', 'V4021', 'V4022', 'V4024',
       'V4025', 'V4026', 'V4027', 'V4028', 'V4029', 'V4032', 'V4033',
       'V40331', 'V403311', 'V403312', 'V40332', 'V403321', 'V403322',
       'V40333', 'V403331', 'V4034', 'V40341', 'V403411', 'V403412',
       'V40342', 'V403421', 'V403422', 'V4039', 'V4039C', 'V4040',
       'V40401', 'V40402', 'V40403', 'V4041', 'V4043', 'V40431', 'V4044',
       'V4045', 'V4046', 'V4047', 'V4048', 'V4049', 'V4050', 'V40501',
       'V405011', 'V405012', 'V40502', 'V405021', 'V405022', 'V40503',
       'V405031', 'V4051', 'V40511', 'V405111', 'V405112', 'V40512',
       'V405121', 'V405122', 'V4056', 'V4056C', 'V4057', 'V4058',
       'V40581', 'V405811', 'V405812', 'V40582', 'V405821', 'V405822',
       'V40583', 'V405831', 'V40584', 'V4059', 'V40591', 'V405911',
       'V405912', 'V40592', 'V405921', 'V405922', 'V4062', 'V4062C',
       'V4063', 'V4063A', 'V4064', 'V4064A', 'V4071', 'V4072', 'V4072A',
       'V4073', 'V4074', 'V4074A', 'V4075A', 'V4075A1', 'V4076', 'V40761',
       'V40762', 'V40763', 'V4077', 'V4078', 'V4078A', 'V4082', 'VD2002',
       'VD2003', 'VD2004', 'VD3004', 'VD3005', 'VD3006', 'VD4001',
       'VD4002', 'VD4003', 'VD4004', 'VD4004A', 'VD4005', 'VD4007',
       'VD4008', 'VD4009', 'VD4010', 'VD4011', 'VD4012', 'VD4013',
       'VD4014', 'VD4015', 'VD4016', 'VD4017', 'VD4018', 'VD4019',
       'VD4020', 'VD4023', 'VD4030', 'VD4031', 'VD4032', 'VD4033',
       'VD4034', 'VD4035', 'VD4036', 'VD4037', 'painel', 'idind',
       'Salario/hora', 'log(Salario/hora)', 'Idade_2', 'preta', 'parda',
       'Superior_incompleto', 'Medio_completo', 'Medio_incompleto',
       'Fund_completo', 'Fund_incompleto', 'Sem instrução', 'iddom',
       'data', 'filho', 'num_filhos'], dtype=object)

#### Excluindo colunas agora desnecessárias

In [87]:
bpnad = bpnad[['V1023', 'V2001', 'V2007', 'V2009', 'V3002',
       'V4009', 'VD3005', 'VD4008', 'VD4019', 'VD4031', 'idind',
       'Salario/hora', 'log(Salario/hora)', 'Idade_2', 'preta', 'parda',
       'Superior_incompleto', 'Medio_completo', 'Medio_incompleto',
       'Fund_completo', 'Fund_incompleto', 'Sem instrução', 'iddom',
        'data', 'num_filhos']]

##### Alterando o nome das colunas

In [88]:
bpnad.columns = ['capital','pessoasdom','mulher','idade','freqescola','maisumtrab','educ','servidor','salariom','horassem',
                'id', 'salarioh', 'lsalarioh', 'idadeqdd', 'preta', 'parda','superiorinc','mediocom', 'medioinc','fundcom',
                 'fundinc', 'semestudo', 'iddom', 'data', 'filhos']

In [89]:
bpnad

,capital,pessoasdom,mulher,idade,freqescola,maisumtrab,educ,servidor,salariom,horassem,...,parda,superiorinc,mediocom,medioinc,fundcom,fundinc,semestudo,iddom,data,filhos
0,0,3,0,41,0.0,0.0,5.0,0.0,1200.0,48.0,...,0,0.0,0.0,0.0,0.0,1.0,0.0,2.05050000004501,2013-04-01,0
1,0,3,0,41,0.0,0.0,5.0,0.0,1000.0,32.0,...,1,0.0,0.0,0.0,0.0,1.0,0.0,2.05050000004501,2013-01-01,0
2,0,3,0,41,0.0,0.0,5.0,0.0,1000.0,48.0,...,1,0.0,0.0,0.0,0.0,1.0,0.0,2.05050000004501,2013-02-01,0
3,0,3,0,41,0.0,0.0,4.0,0.0,1500.0,48.0,...,0,0.0,0.0,0.0,0.0,1.0,0.0,2.05050000004501,2013-03-01,0
4,0,3,0,42,0.0,0.0,5.0,0.0,1200.0,44.0,...,1,0.0,0.0,0.0,0.0,1.0,0.0,2.05050000004501,2014-01-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271534,1,4,1,39,0.0,0.0,9.0,0.0,1500.0,30.0,...,0,0.0,0.0,0.0,1.0,0.0,0.0,2.05353004437714,2012-02-01,0
271537,1,2,0,30,0.0,0.0,16.0,1.0,2300.0,40.0,...,1,0.0,0.0,0.0,0.0,0.0,0.0,2.05353004437714,2013-01-01,0
271538,1,2,0,30,0.0,0.0,16.0,1.0,2100.0,40.0,...,1,0.0,0.0,0.0,0.0,0.0,0.0,2.05353004437714,2012-04-01,0
271539,1,2,1,23,1.0,0.0,14.0,0.0,1200.0,40.0,...,0,1.0,0.0,0.0,0.0,0.0,0.0,2.05353004437714,2013-01-01,0
271540,1,2,1,23,1.0,0.0,14.0,0.0,722.0,46.0,...,0,1.0,0.0,0.0,0.0,0.0,0.0,2.05353004437714,2012-04-01,0

##### Alterando a ordem das colunas

In [90]:
bpnad = bpnad[['id','data','iddom','lsalarioh','salarioh','idade','idadeqdd','mulher','preta','parda','capital','pessoasdom',
             'filhos','educ','freqescola','superiorinc','mediocom','medioinc','fundcom','fundinc','semestudo','servidor',
             'maisumtrab']]

In [91]:
bpnad.head()

,id,data,iddom,lsalarioh,salarioh,idade,idadeqdd,mulher,preta,parda,...,educ,freqescola,superiorinc,mediocom,medioinc,fundcom,fundinc,semestudo,servidor,maisumtrab
0,250500000045001001,2013-04-01,2.05050000004501,0.698970,5.000000,41,1681,0,0,0,...,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,250500000045001001,2013-01-01,2.05050000004501,0.795880,6.250000,41,1681,0,0,1,...,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,250500000045001001,2013-02-01,2.05050000004501,0.619789,4.166667,41,1681,0,0,1,...,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,250500000045001001,2013-03-01,2.05050000004501,0.795880,6.250000,41,1681,0,0,0,...,4.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,250500000045001001,2014-01-01,2.05050000004501,0.736759,5.454545,42,1764,0,0,1,...,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

#### Mudar o tipo da coluna Id para string

In [93]:
bpnad.loc[:,'id'] = bpnad.loc[:,'id'].astype('str')

C:\Users\higor\anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [94]:
bpnad.loc[:,'iddom'] = bpnad.loc[:,'iddom'].astype('str')

##### Exportar a tabela

In [95]:
bpnad.sort_values(by=['id', 'data'], inplace=True)

<ipython-input-95-1ec57c9dc5b1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bpnad.sort_values(by=['id', 'data'], inplace=True)

In [97]:
bpnad.to_excel('base_pnad_q2.xlsx', index=False)

## Criando a base de dados para a questão 4

#### Para essa amostra, vamos considerar apenas os indivíduos com VD4001 preenchidos

In [34]:
bq4 = bBruta.copy()

In [103]:
bq4.columns.values

array(['Unnamed: 0', 'Ano', 'Trimestre', 'UF', 'Capital', 'RM_RIDE',
       'UPA', 'Estrato', 'V1008', 'V1014', 'V1016', 'V1022', 'V1023',
       'V1027', 'V1028', 'V1029', 'posest', 'V2001', 'V2003', 'V2005',
       'V2007', 'V2008', 'V20081', 'V20082', 'V2009', 'V2010', 'V3001',
       'V3002', 'V3002A', 'V3003', 'V3003A', 'V3004', 'V3005', 'V3005A',
       'V3006', 'V3006A', 'V3007', 'V3008', 'V3009', 'V3009A', 'V3010',
       'V3011', 'V3011A', 'V3012', 'V3013', 'V3013A', 'V3013B', 'V3014',
       'V4001', 'V4002', 'V4003', 'V4004', 'V4005', 'V4006', 'V4006A',
       'V4007', 'V4008', 'V40081', 'V40082', 'V40083', 'V4009', 'V4010',
       'V4012', 'V40121', 'V4013', 'V40132', 'V40132A', 'V4014', 'V4015',
       'V40151', 'V401511', 'V401512', 'V4016', 'V40161', 'V40162',
       'V40163', 'V4017', 'V40171', 'V401711', 'V4018', 'V40181',
       'V40182', 'V40183', 'V4019', 'V4020', 'V4021', 'V4022', 'V4024',
       'V4025', 'V4026', 'V4027', 'V4028', 'V4029', 'V4032', 'V4033',
       'V40331', 'V403311', 'V403312', 'V40332', 'V403321', 'V403322',
       'V40333', 'V403331', 'V4034', 'V40341', 'V403411', 'V403412',
       'V40342', 'V403421', 'V403422', 'V4039', 'V4039C', 'V4040',
       'V40401', 'V40402', 'V40403', 'V4041', 'V4043', 'V40431', 'V4044',
       'V4045', 'V4046', 'V4047', 'V4048', 'V4049', 'V4050', 'V40501',
       'V405011', 'V405012', 'V40502', 'V405021', 'V405022', 'V40503',
       'V405031', 'V4051', 'V40511', 'V405111', 'V405112', 'V40512',
       'V405121', 'V405122', 'V4056', 'V4056C', 'V4057', 'V4058',
       'V40581', 'V405811', 'V405812', 'V40582', 'V405821', 'V405822',
       'V40583', 'V405831', 'V40584', 'V4059', 'V40591', 'V405911',
       'V405912', 'V40592', 'V405921', 'V405922', 'V4062', 'V4062C',
       'V4063', 'V4063A', 'V4064', 'V4064A', 'V4071', 'V4072', 'V4072A',
       'V4073', 'V4074', 'V4074A', 'V4075A', 'V4075A1', 'V4076', 'V40761',
       'V40762', 'V40763', 'V4077', 'V4078', 'V4078A', 'V4082', 'VD2002',
       'VD2003', 'VD2004', 'VD3004', 'VD3005', 'VD3006', 'VD4001',
       'VD4002', 'VD4003', 'VD4004', 'VD4004A', 'VD4005', 'VD4007',
       'VD4008', 'VD4009', 'VD4010', 'VD4011', 'VD4012', 'VD4013',
       'VD4014', 'VD4015', 'VD4016', 'VD4017', 'VD4018', 'VD4019',
       'VD4020', 'VD4023', 'VD4030', 'VD4031', 'VD4032', 'VD4033',
       'VD4034', 'VD4035', 'VD4036', 'VD4037', 'painel', 'idind', 'iddom',
       'Salario/hora', 'log(Salario/hora)', 'Idade_2', 'preta', 'parda',
       'Superior_incompleto', 'Medio_completo', 'Medio_incompleto',
       'Fund_completo', 'Fund_incompleto', 'Sem instrução', 'filho',
       'filho_7anos', 'data', 'num_filhos', 'num_filhos7anos', 'ocupado',
       'casado'], dtype=object)

#### Criando a variável iddom (permite fazer contas por domicílio)

In [35]:
bq4.loc[bq4['V1008'] < 10,'iddom'] = (bq4['painel'].astype(str)) + (bq4['UF'].astype(str)) + (bq4['UPA'].astype(str)) + '0' + (bq4['V1008'].astype(str))
bq4.loc[bq4['V1008'] >= 10,'iddom'] = (bq4['painel'].astype(str)) + (bq4['UF'].astype(str)) + (bq4['UPA'].astype(str)) + (bq4['V1008'].astype(str))

#### Criando variáveis salário/hora, log(salário/hora) e idade²

In [36]:
bq4.loc[:,'Salario/hora'] = (bq4.VD4019 / (bq4.VD4031 * 5))
bq4.loc[:,'log(Salario/hora)'] = (bq4['Salario/hora'].apply(lambda x: math.log10(x)))
bq4.loc[:,'Idade_2'] = (bq4['V2009'] ** 2)

In [117]:
bq4.head()

,Unnamed: 0,Ano,Trimestre,UF,Capital,RM_RIDE,UPA,Estrato,V1008,V1014,...,VD4034,VD4035,VD4036,VD4037,painel,idind,iddom,Salario/hora,log(Salario/hora),Idade_2
0,0,2013,4,50,NaN,NaN,500000045,5052012,1,2,...,0.0,48.0,4.0,4.0,2.0,250500000045001001,2.0505000000451,5.000000,0.698970,1681
1,1,2013,1,50,NaN,NaN,500000045,5052012,1,2,...,0.0,32.0,2.0,2.0,2.0,250500000045001001,2.0505000000451,6.250000,0.795880,1681
2,2,2013,2,50,NaN,NaN,500000045,5052012,1,2,...,0.0,48.0,4.0,4.0,2.0,250500000045001001,2.0505000000451,4.166667,0.619789,1681
3,3,2013,3,50,NaN,NaN,500000045,5052012,1,2,...,0.0,48.0,4.0,4.0,2.0,250500000045001001,2.0505000000451,6.250000,0.795880,1681
4,4,2014,1,50,NaN,NaN,500000045,5052012,1,2,...,0.0,24.0,3.0,2.0,2.0,250500000045001001,2.0505000000451,5.454545,0.736759,1764

#### Normalizando a coluna V1023 para Capital e a coluna V2007 para Sexo

In [37]:
bq4.loc[:,'V1023'] = bq4['V1023'].replace([4,3,2], 0)
bq4.loc[:,'V2007'] = bq4['V2007'].replace(1, 0)
bq4.loc[:,'V2007'] = bq4['V2007'].replace(2, 1)

#### Criando e normalizando colunas de raça

In [38]:
bq4.loc[:,'preta'] = (bq4['V2010']).copy()
bq4.loc[:,'parda'] = (bq4['V2010']).copy()

In [39]:
bq4.loc[:,'preta'] = bq4['preta'].replace([1,3,4], 0)
bq4.loc[:,'preta'] = bq4['preta'].replace([2,5], 1)

In [40]:
bq4.loc[:,'parda'] = bq4['parda'].replace([1,2,3,5], 0)
bq4.loc[:,'parda'] = bq4['parda'].replace(4, 1)

#### Normalizando a coluna V3002 para Frequenta Escola e a coluna V4009 para Mais de Um Trabalho

In [41]:
bq4.loc[:,'V3002'] = bq4['V3002'].replace(2, 0)

In [42]:
bq4.loc[:,'V4009'] = bq4['V4009'].replace(1, 0)
bq4.loc[:,'V4009'] = bq4['V4009'].replace([2,3], 1)

#### Normalizando a coluna VD4008 para Servidor Público

In [43]:
bq4.loc[:,'VD4008'] = bq4['VD4008'].replace([1,2,4,5,6], 0)
bq4.loc[:,'VD4008'] = bq4['VD4008'].replace(3, 1)

#### Criando e normalizando colunas de Ensino Mais Elevado

In [44]:
bq4.loc[:,'Superior_incompleto'] = (bq4['VD3004']).copy()
bq4.loc[:,'Medio_completo'] = (bq4['VD3004']).copy()
bq4.loc[:,'Medio_incompleto'] = (bq4['VD3004']).copy()
bq4.loc[:,'Fund_completo'] = (bq4['VD3004']).copy()
bq4.loc[:,'Fund_incompleto'] = (bq4['VD3004']).copy()
bq4.loc[:,'Sem instrução'] = (bq4['VD3004']).copy()

In [45]:
bq4.loc[:,'Superior_incompleto'] = bq4['Superior_incompleto'].replace([1,2,3,4,5,7],0)
bq4.loc[:,'Superior_incompleto'] = bq4['Superior_incompleto'].replace(6,1)

bq4.loc[:,'Medio_completo'] = bq4['Medio_completo'].replace([1,2,3,4,6,7],0)
bq4.loc[:,'Medio_completo'] = bq4['Medio_completo'].replace(5,1)

bq4.loc[:,'Medio_incompleto'] = bq4['Medio_incompleto'].replace([1,2,3,5,6,7],0)
bq4.loc[:,'Medio_incompleto'] = bq4['Medio_incompleto'].replace(4,1)

bq4.loc[:,'Fund_completo'] = bq4['Fund_completo'].replace([1,2,4,5,6,7],0)
bq4.loc[:,'Fund_completo'] = bq4['Fund_completo'].replace(3,1)

bq4.loc[:,'Fund_incompleto'] = bq4['Fund_incompleto'].replace([1,3,4,5,6,7],0)
bq4.loc[:,'Fund_incompleto'] = bq4['Fund_incompleto'].replace(2,1)

bq4.loc[:,'Sem instrução'] = bq4['Sem instrução'].replace([2,3,4,5,6,7],0)

#### Criando a variável filhos e filhos menores que 7 anos por domicílio

In [46]:
bq4['filho'] = 0

bq4.loc[bq4['VD2002'] == 3, 'filho'] = 1
bq4.loc[bq4['VD2002'] == 4, 'filho'] = 1

In [47]:
bq4['filho_7anos'] = 0

bq4.loc[(bq4['filho'] == 1) & (bq4['V2009'] <= 7), 'filho_7anos'] = 1

In [48]:
bq4.head()

,Unnamed: 0,Ano,Trimestre,UF,Capital,RM_RIDE,UPA,Estrato,V1008,V1014,...,preta,parda,Superior_incompleto,Medio_completo,Medio_incompleto,Fund_completo,Fund_incompleto,Sem instrução,filho,filho_7anos
0,0,2013,4,50,NaN,NaN,500000045,5052012,1,2,...,0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0
1,1,2013,1,50,NaN,NaN,500000045,5052012,1,2,...,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0,0
2,2,2013,2,50,NaN,NaN,500000045,5052012,1,2,...,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0,0
3,3,2013,3,50,NaN,NaN,500000045,5052012,1,2,...,0,0,0.0,0.0,0.0,0.0,1.0,0.0,0,0
4,4,2014,1,50,NaN,NaN,500000045,5052012,1,2,...,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0,0

In [49]:
bq4['filho_7anos'].value_counts()

0    246152
1     25389
Name: filho_7anos, dtype: int64

In [50]:
bq4['data'] = (bq4['Ano'].astype(str)) + (bq4['Trimestre'].astype(str))

In [51]:
bq4['num_filhos'] = bq4.groupby(['iddom', 'data'])['filho'].transform('sum')
bq4['num_filhos7anos'] = bq4.groupby(['iddom', 'data'])['filho_7anos'].transform('sum')

In [52]:
bq4.loc[bq4['VD2002'] > 2, 'num_filhos'] = 0
bq4.loc[bq4['VD2002'] > 2, 'num_filhos7anos'] = 0

In [53]:
bq4[['idind','iddom', 'VD2002', 'data','num_filhos','num_filhos7anos']][bq4['num_filhos7anos'] == 5].sort_values(by=['iddom','data'])

,idind,iddom,VD2002,data,num_filhos,num_filhos7anos
46882,250500031894009001,2.05050003189409,1,20134,7,5
46884,250500031894009002,2.05050003189409,2,20134,7,5
46880,250500031894009001,2.05050003189409,1,20141,7,5
46886,250500031894009002,2.05050003189409,2,20141,7,5
60979,251510000735010001,2.05151000073510,1,20121,6,5
60980,251510000735010002,2.05151000073510,2,20121,6,5
184985,252520053159013001,2.05252005315913,1,20122,6,5
184988,252520053159013002,2.05252005315913,2,20122,6,5

In [54]:
bq4['num_filhos7anos'].value_counts(normalize=True)

0    0.864510
1    0.100640
2    0.029959
3    0.004412
4    0.000449
5    0.000029
Name: num_filhos7anos, dtype: float64

#### Limpando as colunas

In [218]:
bq4.columns.values

array(['Unnamed: 0', 'Ano', 'Trimestre', 'UF', 'Capital', 'RM_RIDE',
       'UPA', 'Estrato', 'V1008', 'V1014', 'V1016', 'V1022', 'V1023',
       'V1027', 'V1028', 'V1029', 'posest', 'V2001', 'V2003', 'V2005',
       'V2007', 'V2008', 'V20081', 'V20082', 'V2009', 'V2010', 'V3001',
       'V3002', 'V3002A', 'V3003', 'V3003A', 'V3004', 'V3005', 'V3005A',
       'V3006', 'V3006A', 'V3007', 'V3008', 'V3009', 'V3009A', 'V3010',
       'V3011', 'V3011A', 'V3012', 'V3013', 'V3013A', 'V3013B', 'V3014',
       'V4001', 'V4002', 'V4003', 'V4004', 'V4005', 'V4006', 'V4006A',
       'V4007', 'V4008', 'V40081', 'V40082', 'V40083', 'V4009', 'V4010',
       'V4012', 'V40121', 'V4013', 'V40132', 'V40132A', 'V4014', 'V4015',
       'V40151', 'V401511', 'V401512', 'V4016', 'V40161', 'V40162',
       'V40163', 'V4017', 'V40171', 'V401711', 'V4018', 'V40181',
       'V40182', 'V40183', 'V4019', 'V4020', 'V4021', 'V4022', 'V4024',
       'V4025', 'V4026', 'V4027', 'V4028', 'V4029', 'V4032', 'V4033',
       'V40331', 'V403311', 'V403312', 'V40332', 'V403321', 'V403322',
       'V40333', 'V403331', 'V4034', 'V40341', 'V403411', 'V403412',
       'V40342', 'V403421', 'V403422', 'V4039', 'V4039C', 'V4040',
       'V40401', 'V40402', 'V40403', 'V4041', 'V4043', 'V40431', 'V4044',
       'V4045', 'V4046', 'V4047', 'V4048', 'V4049', 'V4050', 'V40501',
       'V405011', 'V405012', 'V40502', 'V405021', 'V405022', 'V40503',
       'V405031', 'V4051', 'V40511', 'V405111', 'V405112', 'V40512',
       'V405121', 'V405122', 'V4056', 'V4056C', 'V4057', 'V4058',
       'V40581', 'V405811', 'V405812', 'V40582', 'V405821', 'V405822',
       'V40583', 'V405831', 'V40584', 'V4059', 'V40591', 'V405911',
       'V405912', 'V40592', 'V405921', 'V405922', 'V4062', 'V4062C',
       'V4063', 'V4063A', 'V4064', 'V4064A', 'V4071', 'V4072', 'V4072A',
       'V4073', 'V4074', 'V4074A', 'V4075A', 'V4075A1', 'V4076', 'V40761',
       'V40762', 'V40763', 'V4077', 'V4078', 'V4078A', 'V4082', 'VD2002',
       'VD2003', 'VD2004', 'VD3004', 'VD3005', 'VD3006', 'VD4001',
       'VD4002', 'VD4003', 'VD4004', 'VD4004A', 'VD4005', 'VD4007',
       'VD4008', 'VD4009', 'VD4010', 'VD4011', 'VD4012', 'VD4013',
       'VD4014', 'VD4015', 'VD4016', 'VD4017', 'VD4018', 'VD4019',
       'VD4020', 'VD4023', 'VD4030', 'VD4031', 'VD4032', 'VD4033',
       'VD4034', 'VD4035', 'VD4036', 'VD4037', 'painel', 'idind', 'iddom',
       'Salario/hora', 'log(Salario/hora)', 'Idade_2', 'preta', 'parda',
       'Superior_incompleto', 'Medio_completo', 'Medio_incompleto',
       'Fund_completo', 'Fund_incompleto', 'Sem instrução', 'filho',
       'filho_7anos', 'data', 'num_filhos', 'num_filhos_7',
       'filho_12anos', 'num_filhos12anos', 'num_filhos7anos', 'ocupado'],
      dtype=object)

In [110]:
colunas_bq4 = ['V1016', 'V1023', 'V2001', 'V2003', 'V2007', 'V2009', 'V2010', 'V3002', 'V3007', 'V4009', 
           'VD2002', 'VD3005', 'VD4001', 'VD4002', 'VD4008', 'VD4019', 'VD4031', 'idind',
       'Salario/hora', 'log(Salario/hora)', 'Idade_2', 'iddom', 'preta', 'parda','Superior_incompleto', 'Medio_completo', 'Medio_incompleto',
       'Fund_completo', 'Fund_incompleto', 'Sem instrução', 'num_filhos','num_filhos7anos']

#### Criando a variável casado

In [113]:
bq4 = bq4[colunas_bq4].copy()

In [185]:
bq4['casado'] = 0
bq4.sort_values(by=['iddom','V1016','VD2002'], inplace=True)
bq4.loc[bq4['VD2002'] == 2, 'casado'] = 1
bq4.loc[(bq4['VD2002'] == 1) & (bq4['VD2002'].shift(-1) == 2) & (bq4['iddom'] == bq4['iddom'].shift(-1)), 'casado'] = 1

In [190]:
bq4['casado'].value_counts()

1    115848
0     97448
Name: casado, dtype: int64

#### Criando a variável trabalhando

In [128]:
bq4['ocupado'] = 0

bq4.loc[bq4['VD4002'] == 1, 'ocupado'] = 1

In [129]:
bq4['ocupado'].value_counts()

0    141569
1    129972
Name: ocupado, dtype: int64

#### Limitando a amostra

In [137]:
# Pessoas na força de trabalho e fora da força de trabalho. O restante não respondeu.

bq4['VD4001'].value_counts()

1.0    137982
2.0     75314
Name: VD4001, dtype: int64

In [132]:
# Pessoas ocupadas e desocupadas.

bq4['VD4002'].value_counts()

1.0    129972
2.0      8010
Name: VD4002, dtype: int64

In [133]:
# Pessoas que possuem log salario diferente de 0.

bq4['log(Salario/hora)'].value_counts().sum()

126930

##### Somente indivíduos que responderam a VD4001 serão considerados na base final

In [170]:
bq4 = bq4[(bq4['VD4001'] == 1) | (bq4['VD4001'] == 2)].copy()

#### Colocando log (salário) = 0 para todos aqueles desocupados e fora da força de trabalho

In [171]:
bq4.loc[bq4['log(Salario/hora)'].isnull(), 'log(Salario/hora)'] = 0

In [169]:
# depois da mudança
bq4['log(Salario/hora)'].value_counts().sum()

213296

In [173]:
bq4['log(Salario/hora)'].value_counts()

0.000000    86636
0.698970     5482
0.602060     3631
1.000000     3070
0.778151     2993
            ...
1.465840        1
0.472491        1
1.675489        1
1.156074        1
0.264818        1
Name: log(Salario/hora), Length: 6311, dtype: int64

#### Limpando e organizando as colunas

In [194]:
bq4.columns.values

array(['V1016', 'V1023', 'V2001', 'V2003', 'V2007', 'V2009', 'V2010',
       'V3002', 'V3007', 'V4009', 'VD2002', 'VD3005', 'VD4001', 'VD4002',
       'VD4008', 'VD4019', 'VD4031', 'idind', 'Salario/hora',
       'log(Salario/hora)', 'Idade_2', 'iddom', 'preta', 'parda',
       'Superior_incompleto', 'Medio_completo', 'Medio_incompleto',
       'Fund_completo', 'Fund_incompleto', 'Sem instrução', 'num_filhos',
       'num_filhos7anos', 'casado', 'ocupado'], dtype=object)

In [198]:
bq4.columns = ['numentrevista','capital','pessoasdom','ordemdom','mulher','idade','raça','freqescola',
                 'graduacao','maisumtrab','conddom','educ','forçatrab', 'ocu','servidor','salariom','horassem',
                'id', 'salarioh', 'lsalarioh', 'idadeqdd', 'iddom', 'preta', 'parda','superiorinc','mediocom', 'medioinc','fundcom',
                 'fundinc', 'semestudo', 'nfilhos',
                'nfilhos7anos', 'casado', 'ocupado']

In [199]:
bq4.head()

,numentrevista,capital,pessoasdom,ordemdom,mulher,idade,raça,freqescola,graduacao,maisumtrab,...,superiorinc,mediocom,medioinc,fundcom,fundinc,semestudo,nfilhos,nfilhos7anos,casado,ocupado
1,1,0,3,1,0,41,4,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1
7,1,0,3,2,1,26,1,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,0
2,2,0,3,1,0,41,4,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,1
9,2,0,3,2,1,26,1,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,1
3,3,0,3,1,0,41,1,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,1

In [200]:
bq4 = bq4[['id','ocupado','lsalarioh','casado','nfilhos','nfilhos7anos','capital','pessoasdom','ordemdom','mulher','idade',
          'idadeqdd','freqescola','maisumtrab','educ','forçatrab','servidor','preta','parda','superiorinc','mediocom',
           'medioinc','fundcom','fundinc', 'semestudo']]

In [207]:
bq4.loc[:,:].sort_values(by='id', inplace=True)
bq4

<ipython-input-207-304577ca2167>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bq4.loc[:,:].sort_values(by='id', inplace=True)

,id,ocupado,lsalarioh,casado,nfilhos,nfilhos7anos,capital,pessoasdom,ordemdom,mulher,...,forçatrab,servidor,preta,parda,superiorinc,mediocom,medioinc,fundcom,fundinc,semestudo
1,250500000045001001,1,0.795880,1,1,1,0,3,1,0,...,1.0,0.0,0,1,0.0,0.0,0.0,0.0,1.0,0.0
2,250500000045001001,1,0.619789,1,1,0,0,3,1,0,...,1.0,0.0,0,1,0.0,0.0,0.0,0.0,1.0,0.0
3,250500000045001001,1,0.795880,1,1,0,0,3,1,0,...,1.0,0.0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
0,250500000045001001,1,0.698970,1,1,0,0,3,1,0,...,1.0,0.0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
4,250500000045001001,1,0.736759,1,1,0,0,3,1,0,...,1.0,0.0,0,1,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271535,253530044377014003,0,0.000000,0,0,0,1,4,3,0,...,2.0,NaN,0,0,0.0,0.0,0.0,1.0,0.0,0.0
271537,253530044377014101,1,1.060698,1,0,0,1,2,1,0,...,1.0,1.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0
271538,253530044377014101,1,1.021189,1,0,0,1,2,1,0,...,1.0,1.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0
271540,253530044377014102,1,0.496809,1,0,0,1,2,2,1,...,1.0,0.0,1,0,1.0,0.0,0.0,0.0,0.0,0.0
271539,253530044377014102,1,0.778151,1,0,0,1,2,2,1,...,1.0,0.0,1,0,1.0,0.0,0.0,0.0,0.0,0.0

In [211]:
bq4.loc[:,'id'] = bq4.loc[:,'id'].astype('str')

C:\Users\higor\anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [212]:
bq4.to_excel('base_pnad_q4.xlsx', index=False)